server:
    port: 8080
    servlet:
        context-path: /api/v1
spring:
    datasource:
        url: jdbc:postgresql://localhost:5432/manage_staff
        username: postgres
        password: 12112004
        jpa:
            hibernate:
                ddl-auto: update
            show-sql: true
            properties:
                hibernate:
                    dialect: org.hibernate.dialect.PostgreSQLDialect