spring:
    application:
        name: hr-management-server
    datasource:
        url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/hr_management_db_dev}
        username: ${DATABASE_USERNAME:postgres}
        password: ${DATABASE_PASSWORD:pqkiet854A@}
        driver-class-name: org.postgresql.Driver
    jpa:
        hibernate.ddl-auto: validate
        show-sql: true
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
    flyway:
        enabled: true
        baseline-on-migrate: true
        baseline-version: 0
server:
    port: ${SERVER_PORT:8080}
logging:
    level:
        root: INFO
        '[org.springframework.security]': DEBUG